{% include 'cabecera.html.twig' %}

{% block title %}Producto: {{ producto.nombre_producto }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/pagina_producto.css') }}">
{% endblock %}

{% block content %}
    <div class="producto-detalle">
        <h1>{{ producto.nombre_producto }}</h1>
        <p>Precio: {{ producto.precio }} EUR</p>
        <p>{{ producto.descripcion_producto }}</p>
        {% if producto.foto %}
            <div class="producto-imagen-container">
                <img src="{{ asset('images/' ~ producto.foto) }}" alt="{{ producto.nombre_producto }}" class="producto-imagen">
            </div>        {% else %}
            <p>No hay imagen disponible.</p>
        {% endif %}

        {# <form action="{{ path('producto_detalle', {'id': producto.id_producto}) }}" method="post">
            <div class="form-group">
                <label for="cantidad">Cantidad:</label>
                <input type="number" id="cantidad" name="cantidad" min="1" value="1" required>
            </div>
            <button type="submit">Añadir al carrito</button>
        </form> #}
        <form action="{{ path('añadir_al_orden', { id_producto: producto.id_producto }) }}" method="post">
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" value="1" min="1" required>
            <button type="submit">Añadir al carrito</button>
        </form>
    </div>
{% endblock %}
